body
{
background-color: darkslateblue;
}

#title
{
    background-color: blanchedalmond;
color: black;
}

#bshold
{
color: chartreuse;
}

#start
{
    background-color: darkgreen;
    
}




